body {
    font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ffffff url("../images/main-bg.gif") repeat-x top center;
    color: #333;
}
.topper {
    height: 6px;
    background-color: #98c800;
    border-bottom: 2px solid #ffffff;
}
body>.container{
    background: url("../images/bg-docs.png") no-repeat top center;
    margin-top: 65px;
    min-height: 500px;
}
.logo {
    background: url("../images/logo-big.png") no-repeat top center;
    background-size: cover;
    margin: 0 auto 140px;
    width: 256px;
    height: 256px;
}
.title {
    font-size: 22px;
    color: #98c800;
    text-align: center;
}
.slogan {
    font-size: 33px;
    color: #98c800;
    margin-top: 50px;
    text-align: center;
}
